.contact_form_container{
    display:flex;
    gap:20px;
}

.form_group{
    display:flex;
    flex-direction:column;
       position: relative;
    gap:10px;
    margin-top: 10px;
}

.contact_form{
    margin-top: 30px;
}
.contact_form input{
    padding:20px;
    border-radius:10px;
    min-width:300px;
    
    margin-top: 10px;

}

.contact_form label{
    position: absolute;
    background-color: white;
    margin-left: 10px;
   
}

.contact_form textarea{
    padding:20px;
    border-radius:10px;
    min-width:300px;
    margin-top: 10px;
    min-height: 150px;
}

.submit_btn{
   display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 20px;


}

.contact_form_section{
    display: flex;

    gap: 20px;
}

.contact_form_wrapper{
    margin-top: 70px;
}

.email_btn{
    margin-top: 10px;
}